<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'home'}) %>

<body>
  <!-- <%- include('partials/nav', {navtitle: 'Fran'}) %> -->
  <h1>Super Camion SEARCH Bryan Puto Borrador</h1>
  <p>Estado de camion to <%= title %></p>
  <form>
    <label for="nombre">Ingrese numero de Camion</label>
    <input type="text" name="nombre">
    <input type="submit" value="enviar" id="enviar" />
  </form>
</body>
</html>